@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0D1117;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #1E3A8A, #22D3EE); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #3B82F6, #22D3EE); 
}

::-webkit-scrollbar-corner {
    background: #0D1117;
}

body {
    background-color: #0D1117;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-family: "Work Sans", sans-serif;
    color: #E2E8F0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

header {
    width: 100%;
}

main {
    padding: 0 10rem;
}

nav {
    padding: 1.5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.blue-gradient-text {
    background: linear-gradient(135deg, #1E3A8A, #22D3EE);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.navbar-logo {
    font-size: 2.4rem;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    font-size: 1.28rem;
}

.navbar-menu-link {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbar-menu-link a {
    text-decoration: none;
    color: #E2E8F0;
}

.navbar-menu-link:hover a {
    color: #A0AEC0;
}

.navbar-menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: linear-gradient(135deg, #1E3A8A, #22D3EE); 
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.3s ease-in-out; 
}

.navbar-menu-link:hover::after {
    transform: scaleX(1); 
    transform-origin: left; 
}

.navbar-hamburger, .navbar-close {
    display: none;
    cursor: pointer;
}

.navbar-toggle {
    display: none;
}

@media (max-width: 1300px) {
    .navbar-menu {
        gap: 6rem;
    }
}

@media (max-width: 1200px) {
    .navbar-menu {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    main {
        padding: 0 8rem;
    }

    nav {
        position: relative;
        padding: 1.5rem 8rem;
    }

    .navbar-logo {
        font-size: 2rem;
    }

    .navbar-menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: fit-content;
        width: 94vw;
        background-color: #1E3A8A;
        flex-direction: column;
        padding: 5rem 2rem;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        z-index: 100;
        margin: 0;
    }

    .navbar-menu-link:hover::after {
        transform: scaleX(0); 
        transform-origin: left; 
    }

    .navbar-menu-link {
        color: #E2E8F0;
        width: 100%;
        text-align: center;
    }

    .navbar-hamburger {
        display: block;
        font-size: 2rem;
        color: #E2E8F0;
    }

    .navbar-close {
        display: block;
        font-size: 2rem;
        color: #E2E8F0;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navbar-toggle:checked ~ .navbar-menu {
        transform: translateY(0);
    }

    .navbar-toggle:checked ~ .navbar-menu .navbar-close {
        display: block;
    }
}

@media (max-width: 768px) {
    main {
        padding: 0 5rem;
    }

    nav {
        position: relative;
        padding: 1.5rem 5rem;
    }
    .navbar-logo {
        font-size: 1.8rem;
    }

    .navbar-menu {
        padding: 4rem 1.5rem;
        gap: 2rem;
    }

    .navbar-menu-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    main {
        padding: 0 2rem;
    }

    nav {
        position: relative;
        padding: 1.5rem 2rem;
    }
    .navbar-logo {
        font-size: 1.5rem;
    }

    .navbar-menu {
        padding: 3rem 1rem;
        gap: 1.5rem;
    }

    .navbar-menu-link {
        font-size: 1.1rem;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.hero-content-text {
    font-size: 1.78rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
}

.hero-content-title-name {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: left;
}

.hero-content-title {
    font-size: 4.28rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
    width: 100%;
}

.hero-content-desc {
    font-size: 1.78rem;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
}

.hero-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 9999px;
    transition: transform 0.5s ease;
    z-index: 2;
}

.hero-image-container:hover {
    transform: scale(1.05);
}


.gradient-img-bg {
    position: absolute;
    bottom: -10%; 
    right: -10%;
    height: 40%; 
    width: 120%;
    background: linear-gradient(135deg, #1E3A8A, #22D3EE);
    z-index: 1;
    border-radius: 50% 50% 0 0;
    transition: transform 0.5s ease;
    animation: liquidWaveAnimation 5s infinite ease-in-out;
}


@keyframes liquidWaveAnimation {
    0%, 100% {
        transform: translateY(0) scaleX(1.1) scaleY(1);
        border-radius: 50% 50% 0 0;
    }
    25% {
        transform: translateY(-30px) scaleX(1.2) scaleY(0.8);
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
    }
    50% {
        transform: translateY(-15px) scaleX(0.9) scaleY(1.2);
        border-radius: 60% 40% 30% 70% / 50% 60% 40% 50%;
    }
    75% {
        transform: translateY(-45px) scaleX(1.15) scaleY(0.9);
        border-radius: 30% 70% 70% 30% / 40% 40% 60% 60%;
    }
}

.hero-image-big-container {
    position: relative;
    flex: 0.8;

}

.hero-image {
    width: 100%;
    height: auto;
    z-index: 2;
}

@keyframes upDownAnimationDotNet {
    0% {
        transform: translateY(0) rotate(30deg); 
    }
    50% {
        transform: translateY(-20px) rotate(30deg);
    }
    100% {
        transform: translateY(0) rotate(30deg); 
    }
}


.hero-img-dotnet {
    opacity: 0.3;
    transition: all 0.8s ease;
    position: absolute;
    width: 15%;
    height: auto;
    top: 24%;
    right: 13%;
    z-index: 1;
    transform: rotate(10deg) translate(-150%, 300%);

}

.hero-image-container:hover ~ .hero-img-dotnet {
    opacity: 1;
    transform: rotate(30deg) translate(0,0);
    animation: upDownAnimationDotNet 3s 0.8s infinite ease-in-out;

}

@keyframes upDownAnimationJs {
    0% {
        transform: translateY(0) rotate(-40deg); 
    }
    50% {
        transform: translateY(-20px) rotate(-30deg);
    }
    100% {
        transform: translateY(0) rotate(-40deg); 
    }
}

.hero-img-js {
    opacity: 0.3;
    transition: all 0.5s ease;
    position: absolute;
    width: 16%;
    height: auto;
    top: 32%;
    left: 7%;
    z-index: 1;
    transform: rotate(-25deg) translate(120%, 300%);
}

.hero-image-container:hover ~ .hero-img-js {
    opacity: 1;
    transform: rotate(-40deg) translate(0,0);
    animation: upDownAnimationJs 4s 0.5s infinite ease-in-out;

}

@keyframes upDownAnimationGo {
    0% {
        transform: translateY(0) rotate(10deg); 
    }
    50% {
        transform: translateY(-20px) rotate(0deg);
    }
    100% {
        transform: translateY(0) rotate(10deg); 
    }
}

.hero-img-go {
    opacity: 0.3;
    transition: all 0.9s ease;
    position: absolute;
    width: 13%;
    height: auto;
    top: 2%;
    left: 51%;
    z-index: 1;
    transform: rotate(0deg) translate(-40%, 400%);
}

.hero-image-container:hover ~ .hero-img-go {
    opacity: 1;
    transform: rotate(10deg) translate(0,0);
    animation: upDownAnimationGo 2.5s 0.9s infinite ease-in-out;

}

@keyframes upDownAnimationPython {
    0% {
        transform: translateY(0) rotate(-50gdeg); 
    }
    50% {
        transform: translateY(-20px) rotate(-50deg);
    }
    100% {
        transform: translateY(0) rotate(-50deg); 
    }
}

.hero-img-python {
    opacity: 0.3;
    transition: all 0.6s ease;
    position: absolute;
    width: 12%;
    height: auto;
    top: 12%;
    left: 30%;
    z-index: 1;
    transform: rotate(-30deg) translate(-100%, 500%);
}

.hero-image-container:hover ~ .hero-img-python {
    opacity: 1;
    transform: rotate(-50deg) translate(0,0);
    animation: upDownAnimationPython 2s 0.6s infinite ease-in-out;

}

.hero-content-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.hero-content-cta-btn {
    font-size: 1.43rem;
    border-radius: 9999px;
    padding: 1rem 0.5rem 1rem 3rem;
    background: linear-gradient(135deg, #1E3A8A, #22D3EE);
    color: #E2E8F0;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: background-color 0.3s ease, padding 0.3s ease;
    text-decoration: none;
}

.hero-content-cta-btn-icon {
    visibility: hidden;
    opacity: 0; 
    transform: translateX(-10px);
    transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
}

.hero-content-cta-btn:hover .hero-content-cta-btn-icon {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
}

.hero-content-cta-btn:hover {
    background: linear-gradient(135deg, #2563EB, #3B82F6);
    padding: 1rem 3rem;
}

.hero-content-cta-btn-sec {
    font-size: 1.43rem;
    height: 100%;
    position: relative;
    text-decoration: none;
    border-radius: 9999px;
    padding: 1rem 0.3rem 1rem 3rem;
    border: none;
    background-color: transparent;
    color: #E2E8F0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.hero-content-cta-btn-sec:hover {
    padding: 1rem 2rem;
}

.hero-content-cta-btn-sec:hover::before {
    background: linear-gradient(135deg, #2563EB, #3B82F6);
}

.hero-content-cta-btn-sec:hover p {
    background: linear-gradient(135deg, #2563EB, #3B82F6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.hero-content-cta-btn-sec p {
    margin: 2px;
    font-weight: 500;
}

.hero-content-cta-btn-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px;
    padding: 2px;
    background: linear-gradient(135deg, #1E3A8A, #22D3EE);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    transition: background 0.3s ease;
}

.hero-content-cta-btn-sec-icon {
    visibility: hidden;
    opacity: 0; 
    transform: translateX(-10px);
    transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
}


.hero-content-cta-btn-sec:hover .hero-content-cta-btn-sec-icon {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
}

@media (max-width: 1200px) {

    .hero-content-title-name {
        font-size: 4rem;

    }

    .hero-content-title {
        font-size: 3.5rem;

    }

    .hero-content-desc {
        font-size: 1.6rem;

    }
}


@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-content-title-name {
        font-size: 3.5rem;

    }

    .hero-content-title {
        font-size: 3rem;

    }

    .hero-content-desc {
        font-size: 1.5rem;

    }
 
}

@media (max-width: 768px) {
    .hero-content-title-name {
        font-size: 2.2rem;
    }

    .hero-content-title {
        font-size: 1.8rem;
    }

    .hero-content-desc {
        font-size: 1.1rem;
    }

    .hero-content-text {
        font-size: 1.4rem;

    }
    .hero-content-cta-btn, .hero-content-cta-btn-sec {
        font-size: 1.3rem
    }

    .hero-content-cta-btn {
        padding: 0.8rem 0.1rem 0.8rem 3rem;
    }
    .hero-content-cta-btn-sec {
        padding: 0.8rem 0.3rem 0.8rem 3rem;
    }

    .hero-content-cta-btn-sec:hover {
        padding: 0.8rem 2rem;
    }

    .hero-content-cta-btn:hover {
        padding: 0.8rem 2rem;
    }

}

@media (max-width: 480px) {
    .hero-content-title-name {
        font-size: 2rem;
    }

    .hero-content-title {
        font-size: 1.7rem;
    }

    .hero-content-desc {
        font-size: 1.1rem;
    }

    .hero-content-cta-btn, .hero-content-cta-btn-sec {
        font-size: 1.1rem
    }


}

.about-me {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;

}

.about-me-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
    gap: 6rem;
    width: 100%;
}

.about-me-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-me-desc-text {
    display: flex;
    flex-direction: column;
}

.base-h6 {
    font-size: 1.62rem;
    font-weight: 600;
    margin: 0;
    width: 100%;
    text-align: left;
}

.base-h1 {
    font-size: 3.57rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    line-height: 5rem;
    text-align: left;
}

.about-me-desc-p {
    font-size: 1.28rem;
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.about-me-desc-skill {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-me-desc-skill-container{
    display: flex;
    flex-direction: column;
}

.about-me-desc-skill-container-title {
    font-size: 1.43rem;
    font-weight: 600;
    margin: 0;

}

.about-me-desc-skill-container-progress-bar{
    height: 18px;
    width: 100%;
    background: #CBD5E0;
    border-radius: 9999px;
    overflow: hidden;
    margin-top: 1rem;
}

.about-me-desc-skill-container-progress-bar-progress{
    height: 18px;
    background: linear-gradient(135deg, #1E3A8A, #22D3EE);
}

.about-me-experience {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow:visible ;
}

.about-me-experience-card {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.about-me-experience-card:hover {
    transform: scale(1.02);
}

.about-me-experience-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -200%;
    width: 350%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    transform: rotate(25deg);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 1;
}

.about-me-experience-card:hover::before {
    left: 100%;
    top: 100%;
    opacity: 1;
}

.about-me-experience-card-logo {
    width: 60px; 
    height: auto;
}

.about-me-experience-card-content-h3 {
    color: #F7FAFC;
}

.about-me-experience-card-content-p {
    color: #E2E8F0;
    margin-top: 5px;
}

.about-me-experience-card-content-span {
    font-size: 1rem;
    color: #CBD5E0;
    font-weight: normal;
}

@keyframes liquidAnimation {
    0% {
        border-radius: 90% 40% 60% 30% / 40% 50% 30% 60%;
        transform: translateY(0) scale(1);
    }
    25% {
        border-radius: 60% 50% 40% 30% / 50% 40% 60% 20%;
        transform: translateY(-10px) scale(1.05);
    }
    50% {
        border-radius: 55% 60% 45% 40% / 60% 50% 40% 55%;
        transform: translateY(10px) scale(0.95);
    }
    75% {
        border-radius: 60% 55% 50% 45% / 55% 60% 45% 40%;
        transform: translateY(-15px) scale(1.1);
    }
    100% {
        border-radius: 50% 20% 60% 30% / 40% 50% 30% 90%;
        transform: translateY(0) scale(1);
    }
}

.about-me-gradient-shape {
    position: absolute;
    bottom: -2%;
    right: -1%;
    width: 70%;
    height: 80%;
    background: linear-gradient(135deg, #1E3A8A, #22D3EE);
    border-radius: 50% 40% 60% 30% / 40% 50% 30% 60%;
    z-index: -1;
    opacity: 0.7;
    animation: liquidAnimation 8s ease-in-out infinite;
}

@media (max-width: 1024px) {
    .about-me-container {
        flex-direction: column;
        gap: 4rem;
    }

    .base-h1 {
        font-size: 2.8rem;
        line-height: 4rem;
    }

    .about-me-desc-p {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .about-me-container {
        padding: 1rem 0rem;
        gap: 3rem;
    }

    .base-h1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        text-align: left;
    }

    .about-me-desc-p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .about-me-experience-card {
        flex-direction: column;
        align-items: center;
    }
    .about-me-gradient-shape {
        right: -10%;
        width: 80%;
        height: 60%;
    }
}

@media (max-width: 480px) {
    .base-h1 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .about-me-desc-p {
        font-size: 0.9rem;
        line-height: 1.3;
    }

    .about-me-container {
        gap: 2rem;
    }

    .about-me-experience-card {
        gap: 15px;
        padding: 15px;
    }
}

.toate {
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toate-bg {
    background: linear-gradient(135deg, #1E3A8A, #22D3EE);
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    z-index: 1;
    border-radius: 3%;
}

.toate-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.toate-content {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    z-index: 3;
}

.toate-content-item {
    border-radius: 20px;
    background: #E2E8F0;
    padding: 1rem;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #0D1117;
    min-width: 120px;
    transition: all 0.3s ease;
}

.toate-content-item:hover {
    transform: scale(1.05);
}

.toate-content-item:hover .toate-content-item-icon{
    transform: rotateY(360deg);
}

.toate-content-item-icon {
    width: 80px;
    height: auto;
    transition: transform 0.8s;
}

.toate-content-item-p {
    margin: 0;
    font-size: 1.3em;
    font-weight: 500;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.projects-card {
    border-radius: 30px;
    background: #1C1E26;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding:0;
    align-items: stretch;
    width: 100%;
    max-width: 1000px;
    margin: 1rem 0;
}

.projects-card-rev {
    border-radius: 30px;
    background: #1C1E26;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
    padding:0;
    align-items: stretch;
    width: 100%;
    max-width: 1100px;
}

.projects-card-img-box, .projects-card-content {
    padding: 3rem;
    flex: 1;
    margin: 0;
}

.projects-card-img {
    width: 100%;
    margin: 0;
    
}

.projects-card-img-box {
    background: #232B3A;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.projects-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 1;
}

.projects-card-content-h3, .about-me-experience-card-content-h3 {
    font-size: 1.6rem;
}

.projects-card-content-h3 {
    color: #E2E8F0;
}

.projects-card-content-p, .about-me-experience-card-content-p {
    font-size: 1.2rem;
}

.projects-card-content-p {
    color: #A0AEC0;
}

.projects-card-content-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
}

.projects-card-content-tag {
    border-radius: 9999px;
    background-color: #2D3748;
    color: #E2E8F0;
    transition: all 0.3s ease;
    padding: 0.3rem 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.projects-card-content-tag:hover {
    background-color: #4A5568;
}

.projects-card-content-links {
    margin-top: 4rem;
}

.projects-card-content-links:hover svg {
    stroke: #3B82F6;
    transform: scale(1.02);
}

.projects-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .projects-card, .projects-card-rev {
        flex-direction: column;
        border-radius: 20px;
    }

    .projects-card-img-box, .projects-card-content {
        padding: 2rem;
    }

    .projects-card-content-h3 {
        font-size: 1.4rem;
    }

    .projects-card-content-p {
        font-size: 1.1rem;
    }

    .projects-title {
        align-items: start;
    }
}

@media (max-width: 768px) {
    .projects-card, .projects-card-rev {
        border-radius: 10px;
    }

    .projects-card-img-box, .projects-card-content {
        padding: 1.5rem;
    }

    .projects-card-content-h3 {
        font-size: 1.2rem;
    }

    .projects-card-content-p {
        font-size: 1rem;
    }

    .projects-card-content-tags {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .projects-card, .projects-card-rev {
        border-radius: 5px;
    }

    .projects-card-img-box, .projects-card-content {
        padding: 1rem;
    }

    .projects-card-content-h3 {
        font-size: 1rem;
    }

    .projects-card-content-p {
        font-size: 0.9rem;
    }

    .projects-card-content-tags {
        margin-top: 1.5rem;
    }
}

.footer {
    background-color: #1C1E26;
    color: #E2E8F0; 
    padding: 3rem 1rem;
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem;
}

.footer-container-socials,
.footer-container-contact {
    flex: 1;
    min-width: 250px;
}

.footer-h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer-a {
    color: #22D3EE; 
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px 15px;
    display: inline-block;
}

.footer-a:hover {
    color: #3B82F6; 
}

.footer-container-social-links {
    list-style: none;
    padding: 0;
}

.footer-li {
    margin: 0.5rem 0;
}

.footer-bottom {
    margin-top: 2rem;
    border-top: 1px solid #2D3748; 
    padding-top: 1rem;
}

.footer-bottom-p {
    font-size: 0.9rem;
    color: #A0AEC0; 
}
